<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tzcup_formal_sanitation_vehicle">
  <xacro:include filename="high_fidelity/a300_platform.xacro"/>
  <xacro:include filename="high_fidelity/manipulator_stack.xacro"/>
  <xacro:include filename="high_fidelity/sensor_suite.xacro"/>
  <xacro:include filename="high_fidelity/cleaning_mechanism.xacro"/>
  <xacro:include filename="high_fidelity/storage_system.xacro"/>
  <xacro:include filename="high_fidelity/bodywork.xacro"/>
  <xacro:include filename="high_fidelity/control_interfaces.xacro"/>

  <xacro:arg name="use_sim" default="true"/>
  <xacro:arg name="controller_config_path" default=""/>
  <xacro:arg name="dry_load_mass_kg" default="0.0"/>
  <xacro:arg name="wastewater_load_mass_kg" default="0.0"/>
  <xacro:arg name="bodywork_visible" default="true"/>

  <!-- The unloaded vehicle is the default. Load-state variants are generated
       by setting the two mass arguments; runtime collection accounting must
       never exceed 1.512 kg dry and 9.7064 kg wastewater per episode. -->
  <xacro:hf_a300_platform/>
  <xacro:hf_manipulator_stack parent="arm_mount_link"/>
  <xacro:hf_sensor_suite mast_parent="sensor_mast_link" base_parent="base_link" wrist_parent="tool0"/>
  <xacro:high_fidelity_cleaning_mechanism parent="base_link" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
  <xacro:high_fidelity_storage_system
      parent="payload_deck_link"
      origin_xyz="0 0 0"
      origin_rpy="0 0 0"
      dry_load_mass_kg="$(arg dry_load_mass_kg)"
      wastewater_load_mass_kg="$(arg wastewater_load_mass_kg)"/>
  <xacro:hf_product_bodywork parent="base_link" visible="$(arg bodywork_visible)"/>
  <xacro:hf_formal_ros2_control use_sim="$(arg use_sim)"/>

  <xacro:if value="$(arg use_sim)">
    <gazebo>
      <xacro:if value="${'$(arg controller_config_path)' != ''}">
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(arg controller_config_path)</parameters>
        </plugin>
      </xacro:if>
      <xacro:unless value="${'$(arg controller_config_path)' != ''}">
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find sanitation_vehicle_description)/config/formal_vehicle_controllers.yaml</parameters>
        </plugin>
      </xacro:unless>
      <plugin filename="libDynamicPayloadSystem.so" name="sanitation_gazebo_control::DynamicPayloadSystem">
        <dry_topic>/model/tzcup_formal_sanitation_vehicle/payload/dry_mass_kg</dry_topic>
        <wastewater_topic>/model/tzcup_formal_sanitation_vehicle/payload/wastewater_mass_kg</wastewater_topic>
        <dry_capacity_kg>1.512</dry_capacity_kg>
        <wastewater_capacity_kg>9.7064</wastewater_capacity_kg>
        <initial_dry_mass_kg>$(arg dry_load_mass_kg)</initial_dry_mass_kg>
        <initial_wastewater_mass_kg>$(arg wastewater_load_mass_kg)</initial_wastewater_mass_kg>
      </plugin>
      <plugin filename="libWaterRecoverySystem.so" name="sanitation_gazebo_control::WaterRecoverySystem">
        <pump_rated_flow_l_min>15.1</pump_rated_flow_l_min>
        <hydraulic_derating>0.70</hydraulic_derating>
        <tank_capacity_kg>9.7064</tank_capacity_kg>
        <initial_tank_mass_kg>$(arg wastewater_load_mass_kg)</initial_tank_mass_kg>
        <initial_ground_volume_l>2.88</initial_ground_volume_l>
        <water_density_kg_l>1.0</water_density_kg_l>
        <patch_min_x>-0.60</patch_min_x><patch_max_x>1.80</patch_max_x>
        <patch_min_y>-0.30</patch_min_y><patch_max_y>0.30</patch_max_y>
        <cell_size_m>0.10</cell_size_m>
        <nozzle_length_m>0.14</nozzle_length_m>
        <nozzle_width_m>0.65</nozzle_width_m>
        <maximum_squeegee_clearance_m>0.012</maximum_squeegee_clearance_m>
        <maximum_intake_clearance_m>0.012</maximum_intake_clearance_m>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
